<!-- Modal Structure -->
<div id="placeEditModal" class="modal" >
  <div class="modal-content">
    <h4>Place Details</h4>
    <div class="row">
      <form class="col s12" #placeEditForm="ngForm">
        <div class="row">

          <div class="input-field col s6">
            <input
              id="photo"
              name="photo"
              type="text"
              placeholder="Photo"
              required
              #url="ngModel"
              [(ngModel)]="place.photo"
              [class.valid]="url.valid && (url.dirty || url.touched)"
              [class.invalid]="url.invalid && (url.dirty || url.touched)"
            >
            <label class="active" for="url">Image URL</label>
            <div *ngIf="url.invalid && (url.dirty || url.touched)">
              <p *ngIf="url.errors?.required">Заполните поле</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input field col s6">
            <input
              id="name"
              name="name"
              type="text"
              placeholder="Name"
              required
              minlength="3"
              #name="ngModel"
              [(ngModel)]="place.name"
              [class.valid]="name.valid && (name.dirty || name.touched)"
              [class.invalid]="name.invalid && (name.dirty || name.touched)"
            >
            <label class="active" for="name">Name</label>
            <div *ngIf="name.invalid && (name.dirty || name.touched)">
              <p *ngIf="name">Заполните поле</p>
              <p *ngIf="name.errors?.minlength">Имя не должно содержать менее {{name.errors.minlength.requiredLength}} символов</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="input field col s6">
            <input
              id="address"
              name="address"
              type="text"
              placeholder="address"
              required
              minlength="3"
              #address="ngModel"
              [(ngModel)]="place.address"
              [class.valid]="address.valid && (address.dirty || address.touched)"
              [class.invalid]="address.invalid && (address.dirty || address.touched)"
            >
            <label class="active" for="address">Address</label>
            <div *ngIf="address.invalid && (address.dirty || address.touched)">
              <p *ngIf="address.errors?.required">Заполните поле</p>
              <p *ngIf="address.errors?.minlength">Адрес не должен содержать менее {{address.errors.minlength.requiredLength}} символов</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input field col s6">
            <input
              id="description"
              name="description"
              type="text"
              placeholder="Description"
              required
              minlength="10"
              #description="ngModel"
              [(ngModel)]="place.description"
              [class.valid]="description.valid && (description.dirty || description.touched)"
              [class.invalid]="description.invalid && (description.dirty || description.touched)"
            >
            <label class="active" for="name">Description</label>
            <div *ngIf="description.invalid && (description.dirty || description.touched)">
              <p *ngIf="description.errors?.required">Заполните поле</p>
              <p *ngIf="description.errors?.minlength">Описание не должно содержать менее {{description.errors.minlength.requiredLength}} символов</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input
              id="rating"
              name="rating"
              type="number"
              placeholder="rating"
              required
              #rating="ngModel"
              [(ngModel)]="place.rating"
            >
            <label class="active" for="rating">Rating</label>
          </div>
        </div>
        <form action="#">
          <div  *ngFor="let category of categories">
            <p>
              <input name="categoryId" type="radio" id="{{category.id}}" [value]="category.id" [(ngModel)]="categoryId"/>
              <label for="{{category.id}}">{{category.name}}</label>
            </p>
          </div>
        </form>
      </form>

    </div>

  </div>

  <div class="modal-footer">
    <button class="modal-action waves-effect waves-green btn-flat" (click)="onCancel()">Cancel</button>
    <button class="modal-action waves-effect waves-green btn-flat" (click)="onSave()" [disabled]="placeEditForm.form.invalid">Save</button>
  </div>
</div>


