<div class="card horizontal">
  <div class="card-image">
    <a [routerLink]="['/place/', place?.id]">
      <img src={{place?.photo}} width="300" height="300">
    </a>


  </div>
  <div class="card-stacked">
    <div class="card-content">
      <p>{{place?.address}}</p>
    </div>

  </div>
</div>

