<div class="container">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Категории</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/categories">Категории</a></li>
        <li><a routerLink="/places">Места</a></li>
        <!--<li><a routerLink="/auth/login"><i class="material-icons" (click)="onLogout()">Logout</i></a></li>-->
      </ul>
    </div>
  </nav>
  <div class="col s12 m6" *ngFor="let category of categories">
    <app-category-card
      [category]="category"
    ></app-category-card>
  </div>

  <a class="c-fixed-fab btn-floating btn-large waves-effect waves-light red" (click)="modal.onAdd()"><i class="material-icons">add</i></a>

  <app-category-edit-modal #modal (save)="onSave()"></app-category-edit-modal>

</div>

