<div class="container">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">{{place?.name | uppercase}}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/categories">Категории</a></li>
        <li><a routerLink="/places">Места</a></li>
        <!--<li><a routerLink="/auth/login"><i class="material-icons" (click)="onLogout()">Logout</i></a></li>-->
      </ul>
    </div>
  </nav>
  <div  class="card" id="place-detail">
    <div class="card-image">
      <img src={{place?.photo}}>
    </div>
    <div class="card-content">
      <h5>{{place?.address}}</h5>
      <p><i class="tiny material-icons">favorite</i> {{place?.rating}}</p>
    </div>
    <span class="card-description">{{place?.description}}</span>
  </div>


</div>


<app-place-edit-modal #modal (save)="onChange()"></app-place-edit-modal>
