<div class="container">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Заведения этой категории</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/categories">Категории</a></li>
        <li><a routerLink="/places">Места</a></li>
        <!--<li><a routerLink="/auth/login"><i class="material-icons" (click)="onLogout()">Logout</i></a></li>-->
      </ul>
    </div>
  </nav>

  <div class="card-content">
    <h4 class="card-title">{{category?.name}}</h4>
    <div class="row" *ngFor="let place of places">
      <ul class="card">
        <li class="collection-item avatar">
          <img src="{{place?.photo}}" alt="" width="450" height="300">

          <h5 id="category-place-description">
            {{place?.name}} <br>
            Адрес:  {{place?.address}}<br>
          </h5>
          <a routerLink="/place/{{place?.id}}" class="secondary-content"><i class="waves-effect waves-light btn-large">Открыть</i></a>
        </li>
      </ul>
    </div>
  </div>






</div>
