<div class="container">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Поиск</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/categories">Категории</a></li>
        <li><a routerLink="/places">Места</a></li>
        <!--<li><a routerLink="/auth/login"><i class="material-icons" (click)="onLogout()">Logout</i></a></li>-->
      </ul>
    </div>
  </nav>

  <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="searchByName" type="search" required placeholder="Введите заведение"#name >
          <label class="label-icon" for="searchByName"><i class="material-icons">search</i></label>
          <i class="material-icons" (click)="onSearchByName(name.value)">youtube_searched_for</i>
        </div>
      </form>
    </div>

  </nav>
  <div class="col s12 m6" *ngFor="let place of places">
    <app-place-card
      [place]="place"
    ></app-place-card>
  </div>
</div>
