<div class="card blue-grey darken-1" id="category-card">
  <div class="card-content white-text">
    <span class="card-title">{{category?.name}}</span>
  </div>
  <div class="card-action">
    <a [routerLink]="['/category/', category?.id]">Посмотреть</a>
  </div>
</div>
