<div class="card">
  <div class="card-image">
    <a *ngIf="place" [routerLink]="['/place', place?.id]">
      <img src={{place?.photo}}>
      <span class="card-title" id="placeName">{{place?.name | uppercase}}</span>
    </a>
    <a class="c-edit-fab btn-floating btn-large waves-effect waves-light red" (click)="onEdit()"><i class="material-icons">mode_edit</i></a>
  </div>
  <div class="card-content">
    <h5>{{place?.address}}</h5>
    <p><i class="tiny material-icons">favorite</i> {{place?.rating}}</p>
  </div>
  <div class="card-action">
    <a (click)="onLike()">Like</a>
    <a (click)="onDislike()">Dislike</a>
    <!--<a (click)="onEdit()">Edit</a>-->
    <a (click)="onRemove()">Remove</a>
  </div>
</div>





