<div class="container">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Все места</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/categories">Категории</a></li>
        <li><a routerLink="/places">Места</a></li>
        <li><a routerLink="/find"><i class="material-icons">search</i></a></li>
        <!--<li><a routerLink="/auth/login"><i class="material-icons" (click)="onLogout()">Logout</i></a></li>-->
      </ul>
    </div>
  </nav>

  <div class="col-md-6" *ngFor="let place of places">
    <app-place-card
      [place]="place"
      (like)="onLike(place.id)"
      (dislike)="onDislike(place.id)"
      (remove)="onRemove(place.id)"

    ></app-place-card>
  </div>

  <a class="c-fixed-fab btn-floating btn-large waves-effect waves-light red" (click)="modal.onAdd()"><i class="material-icons">add</i></a>
  <app-place-edit-modal #modal (save)="onSave()"></app-place-edit-modal>
</div>





