/* You can add global styles to this file, and also import other style files */
.c-fixed-fab {
  position: fixed;
  z-index: 99;
  bottom: 28px;
  right: 28px;
}

.c-edit-fab {
  position: absolute;
  bottom: -28px;
  right: 28px;
}

a{
  cursor: pointer;
  user-select: none;
}

.card{
  width: 450px;
  height: 480px;
  float: left;
  margin: 6px;
}

#placeName{
  font-size: 40px;
}

#place-detail{
  margin-left: auto;
  margin-right: auto;
  height: 530px;
  width: 630px;
}

#category-card{
  height: 150px;
  width: 950px;
}

.waves-effect{
  margin-left: -150px;
  margin-top: -90px;
}

.brand-logo{
  margin-left: 50px;
}

img{
  height: 300px;
}


