<!--Modal Structure-->
<div id="categoryEditModal" class="modal">
  <div class="modal-content">
    <h4>Category Details</h4>
    <div class="row">
      <form class="col s12" #categoryEditForm="ngForm">
        <div class="row">
          <div class="input field col s6">
            <input
              id="name"
              name="name"
              type="text"
              placeholder="Name"
              required
              minlength="3"
              #name="ngModel"
              [(ngModel)]="category.name"
              [class.valid]="name.valid && (name.dirty || name.touched)"
              [class.invalid]="name.invalid && (name.dirty || name.touched)"
            >
            <label class="active" for="name">Name</label>
            <div *ngIf="name.invalid && (name.dirty || name.touched)">
              <p *ngIf="name.errors?.required">Заполните поле</p>
              <p *ngIf="name.errors?.minlength">Имя не должно содержать менее {{name.errors.minlength.requiredLenth}} символов</p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="modal-action waves-effect waves-green btn-flat" (click)="onCancel()">Cancel</button>
    <button class="modal-action waves-effect waves-green btn-flat" (click)="onSave()" [disabled]="categoryEditForm.form.invalid">Save</button>
  </div>
</div>
